# macOS
.DS_Store
.Trashes
.apple-double-*
.LSOverride
Icon?
._*

# PyCharm / JetBrains
.idea/
*.iml
*.iws
.ipr

# Python / Virtual Environment
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
